{% extends "layout.html" %}

{% block title %}Jesse Bartola{% endblock %}

{% block body %}
<body id="page-top" class="index">


    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top">Jesse Bartola</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse animsition" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#about">About</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#skills">Skills</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#portfolio">Portfolio</a>
                    </li>
                    
                    <li>
                        <a class="page-scroll" href="#contact">Contact</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <!-- Header -->
    <header data-type="background" data-speed="4">
        <div class="container">
            <div class="intro-text">
                <div class="intro-heading">Hi, I'm Jesse</div>
                <!-- <a href="#about" class="page-scroll btn btn-xl">Tell me more!</a> -->
            </div>
        </div>
    </header>

    <!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">About Me</h2>
                </div>
            </div>
            <div class="row" id="aboutparent">
                <!-- <div class="col-md-4"> -->
                    <div class="about-pic">
                        <h3 class="text-center">See my <a href="/resume">resume</a>/<a href="http://github.com/jrbartola">Github</a>!</h3>
                        <img src="static/img/facebookprof.jpg" id="prof_pic" class="img-responsive" alt="">
                    </div>
                <!-- </div> -->
                <!-- <div class="col-md-8"> -->
                    <div class="about-bio">
                        <p id="mybio">My name is Jesse and I am currently an undergraduate student studying Computer Science at the <a href="http://www.umass.edu/">University of Massachusetts, Amherst</a>. I plan on graduating in 2019 with aspirations of becoming a software developer. I have roughly 6 years of programming experience under my belt coupled with a lifelong interest in computers and technology. My work experience consists of several web and mobile software projects including scalable social networking platforms, automated texting services and mobile iOS applications. I'm currently working as a Scala Web Developer for the Computer Science MS and PhD admissions system at UMass. This summer I'll be a software engineer intern at Google as a member of the <a href="https://landing.google.com/sre/">Site Reliability</a> team! When I'm not programming I enjoy doing puzzles, running, biking, reading, and learning upcoming technologies.
                        </p>
                    </div>
                <!-- </div> -->
            </div>
        </div>
    </section>

    <!-- My Skills Section -->
    <section id="skills">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">What am I all about?</h2>
                    <br>
                </div>
            </div>
            <div class="row text-center about-skills">
                <div id="skill1" class="col-sm-4 skill">
                    <div class="skill-icon">
                        <span class="fa-stack fa-4x">
                            <i class="fa fa-circle fa-stack-2x text-primary"></i>
                            <i class="fa fa-graduation-cap fa-stack-1x fa-inverse"></i>
                        </span>
                        <h4 class="service-heading">Learning</h4>
                    </div>  
                    <div class="skill-desc">
                        <p class="text-muted">An ambition for education, a will to learn, and a drive to tackle new challenges are three pivotal assets that should be harbored by every software engineer. Aside from mandatory coursework, getting ahead of the curve through self-taught methodologies has helped me tremendously in achieving a greater understanding of computer science and programming.</p>
                    </div>
                </div>
                <div id="skill2" class="col-sm-4 skill">
                    <div class="skill-icon">
                        <span class="fa-stack fa-4x">
                            <i class="fa fa-circle fa-stack-2x text-primary"></i>
                            <i class="fa fa-laptop fa-stack-1x fa-inverse"></i>
                        </span>
                        <h4 class="service-heading">Technology</h4>
                    </div>
                    <div class="skill-desc">
                        <p class="text-muted">Technology spans all facets of modern day society. From computers to iPhones and beyond, an aptitude for understanding these devices at a fundamental level is an essential part of being a succesful computer scientist. While always trying to harness the most recent and efficient technologies to tackle my projects, I enjoy the challenge and learning experience that comes with pushing myself out of my comfort zone.</p>
                    </div>
                </div>
                <div id="skill3" class="col-sm-4 skill">
                    <div class="skill-icon">
                        <span class="fa-stack fa-4x">
                            <i class="fa fa-circle fa-stack-2x text-primary"></i>
                            <i class="fa fa-gears fa-stack-1x fa-inverse"></i>
                        </span>
                        <h4 class="service-heading">Active Engagement</h4>
                    </div>
                    <div class="skill-desc">
                        <p class="text-muted">Learning a difficult concept or adjusting a previous mentality to new industry standards may seem tedious and daunting. As challenging as it is, the light at the end of the tunnel is enough to spark my drive to get there. The key to understanding is simple- practice! While a thorough education in computer science is important, hands-on activities help to solidify your skill-set which is why I am always involved in multiple outside projects of my own.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Portfolio Grid Section -->
    <section id="portfolio" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Portfolio</h2>
                    <h3 class="section-subheading text-muted">Just a few of my projects</h3>
                </div>
            </div>
            <div class="row slicker">
                <div class="col-md-4 col-sm-6 portfolio-item">
                    <a href="#fashionAdviceModal" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="static/img/txtadvice_tight.png" class="img-responsive" alt="">
                    </a>
                    <div class="portfolio-caption">
                        <h4>TxtAdvice</h4>
                        <p class="text-muted">Instant Fashion Advice</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 portfolio-item">
                    <a href="#basicChatModal" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="static/img/basicchat_tight.png" class="img-responsive" alt="">
                    </a>
                    <div class="portfolio-caption">
                        <h4>Basic Chat</h4>
                        <p class="text-muted">Lightweight Messaging</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 portfolio-item">
                    <a href="#scopiumModal" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="static/img/scopium_iphone.png" class="img-responsive" id="scopium_pic" alt="">
                    </a>
                    <div class="portfolio-caption">
                        <h4>Scopium</h4>
                        <p class="text-muted">Award-Winning iOS Application</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 portfolio-item">
                    <a href="#waveCalendarModal" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="static/img/wave_calendar_front.jpg" class="img-responsive" alt="">
                    </a>
                    <div class="portfolio-caption">
                        <h4>Wave Calendar</h4>
                        <p class="text-muted">Party Social Networking</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 portfolio-item">
                    <a href="#medicusModal" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="static/img/medicus_iphone.png" class="img-responsive" alt="" id="medicus_pic">
                    </a>
                    <div class="portfolio-caption">
                        <h4>Medicus</h4>
                        <p class="text-muted">Skin Condition Identification</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    

    <!-- SkillSet Section -->
    <section id="skillset" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">The Breakdown</h2>
                    
                </div>
            </div>
            <div class="row" id="pieparent">
                <div id="pieChart" class="chart">
                </div>
                <div id="piediv">
                    <p id="pietext" class="large text-muted">An understanding of different languages and their applications has helped me throughout the years in creating projects with various objectives in mind. </p>
                    <p id="web" style="display:none;" class="large text-muted">Web development is my personal favorite area of software development. After working with numerous frameworks such as Flask, Node.js, Spring MVC and .NET I can really appreciate the versatility that web programming has to offer. </p>
                    <p id="python" style="display:none;" class="large text-muted">Python is a fun little language I've worked with to create many websites and applications using the Flask framework as well as standalone scripts to do my bidding. It is loosely-typed with an unobtrusive syntax making it easy to write robust, scalable application scripts.</p>
                    <p id="java" style="display:none;" class="large text-muted">Java was one of the first programming languages I ever learned. Although not my favorite, it laid the groundwork for the comprehension of fundamental programming methodolgies I encounter on a regular basis. My exposure to Java has enabled me to create a fair share of algorithmic and desktop applications. </p>
                    <p id="scala" style="display:none;" class="large text-muted">Functional programming has gained increasing popularity over the past few years due to its brevity and natural accommodation for concurrency. An introduction to this paradigm has shed light on some of the amazing capabilities of modern day computation. </p>
                    <p id="swift" style="display:none;" class="large text-muted">iOS development is at the cornerstone of today's mobile software industry. Knowledge of how to create user-friendly iPhone applications paves the way for state of the art innovation in the years to come. With this in mind, I have made sure to include this specific type of development in my knowledge base. </p>
                </div>
            </div>
            <br/>
        </div>
    </section>
    
    <!-- Contact Section -->
    <section id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Contact Me</h2>
                    <h3 style="color:antiquewhite;" class="section-subheading text-muted">Project inquiries, compliments, and greetings are all accepted!</h3>
                </div>
            </div>
            <div class="row">
                
                <div class="col-lg-12">
                    <form name="sentMessage" id="contactForm" novalidate="" class="">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Your Name *" name="name" id="name" required="" data-validation-required-message="Please enter your name." aria-invalid="false">
                                    <p class="help-block text-danger"></p>
                                </div>
                                <div class="form-group">
                                    <input type="email" class="form-control" placeholder="Your Email *" name="email" id="email" required="" data-validation-required-message="Please enter your email address." aria-invalid="false">
                                    <p class="help-block text-danger"></p>
                                </div>
                            
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <textarea class="form-control" placeholder="Message *" name="message" id="message" required="" data-validation-required-message="Please enter a message." aria-invalid="false"></textarea>
                                    <p class="help-block text-danger"></p>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                            <div class="col-lg-12 text-center">
                                <div id="success">
                                    <div class="alert alert-danger">
                                        <strong>Please fill out all of the fields to send a message!</strong>
                                    </div>
                                </div>
                                <button type="submit" class="btn btn-xl">Send Message</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

        </div>
    </section>

    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <span class="copyright">Copyright &copy; Jesse Bartola 2018</span>
                </div>
                <div class="col-md-4">
                    <ul class="list-inline social-buttons">
                        <li><a href="mailto:jrbartola@gmail.com"><i class="fa fa-envelope"></i></a>
                        </li>
                        <li><a href="http://github.com/jrbartola"><i class="fa fa-github"></i></a>
                        </li>
                        <li><a href="https://www.facebook.com/jbartola"><i class="fa fa-facebook"></i></a>
                        </li>
                        <li><a href="https://www.linkedin.com/in/jessebartola"><i class="fa fa-linkedin"></i></a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <ul class="list-inline quicklinks">
                        <li>
                        </li>
                        <li>You are visitor # {{ visits }}!
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
    

    <!-- TxtAdvice Modal -->
    <div class="portfolio-modal modal fade" id="fashionAdviceModal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <!-- Project Details Go Here -->
                            <h2>TxtAdvice (OutFitr)</h2>
                            <p class="item-intro text-muted">Instant fashion advice</p>
                            <img class="img-responsive img-centered" src="static/img/txtadvice.png" alt="">
                            <p>Ever second-guess yourself after putting on an outfit before heading out the door? I know I do! As the lead platform developer of TxtAdvice I worked with a few colleagues of mine to assemble an app aiming to deliver real-time fashion advice to users by connecting them with professional stylists. Send in a question or a picture and you'll have an expert opinion in no time.</p>
                            <p>
                                <!-- <strong>Want to try it out? </strong> Go ahead down to <a href="http://txtadvice.com/">txtadvice.com</a> and enter your phone number in the box!</p> -->
                            <!-- <ul class="list-inline">
                                <li>Date: June 2015</li>
                            </ul> -->
                            <button type="button" class="btn btn-xl" data-dismiss="modal">Back <i class="fa fa-arrow-right"></i></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Basic Chat Modal -->
    <div class="portfolio-modal modal fade" id="basicChatModal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2>Basic Chat</h2>
                            <p class="item-intro text-muted">Portable Instant Messaging</p>
                            <img class="img-responsive img-centered" src="static/img/basicchat.png" alt="">
                            <p>Basic Chat functions as a lightweight chat room providing a seamless instant-messaging communication similar to Facebook's. The site also tracks analytics for each user which is available on their profile page. Check out the project on <a href="https://github.com/jrbartola/BasicChat">Github</a>! More features to be announced.</p>
                            <button type="button" class="btn btn-xl" data-dismiss="modal">Back <i class="fa fa-arrow-right"></i></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Scopium Modal -->
    <div class="portfolio-modal modal fade" id="scopiumModal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <!-- Project Details Go Here -->
                            <h2>Scopium</h2>
                            <p class="item-intro text-muted">Multiple-Sclerosis Monitoring Application</p>
                            <div class="col-md-6">
                                <img class="img-responsive img-centered" src="static/img/scopium2.jpg">
                            </div>
                            <div class="col-md-6">
                                <img class="img-responsive img-centered" src="static/img/scopium1.jpg">
                            </div>
                            <p>Scopium is a project some friends and I created for Hack UMASS III. It makes use of Arduino microcontrollers which transmit serialized data to an iOS application, helping monitor symptoms of Multiple Sclerosis for patients in need. Studies show that MS patients aware of the severity of their symptoms live more comfortably than those who are left in the dark. <strong>See more:</strong> <a href="http://devpost.com/software/scopium">Devpost</a>.</p>
                            <button type="button" class="btn btn-xl" data-dismiss="modal">Back <i class="fa fa-arrow-right"></i></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Wave Calendar Modal -->
    <div class="portfolio-modal modal fade" id="waveCalendarModal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <!-- Project Details Go Here -->
                            <h2>Wave Calendar</h2>
                            <p class="item-intro text-muted">Party Scheduling Social Network</p>
                            <div class="col-md-12">
                                <img class="img-responsive img-centered" src="static/img/wave_calendar.jpg">
                            </div>
                            <p>If you've ever been bored and wondered what events are going on around your area, you aren't alone. Wave Calendar provides an easy way for users to find out where the parties (waves) are around them! Once signed up you can create your own wave, browse parties in your local area and rate those you've attended. This web application is built with MEAN stack. Check out the project on <a href="https://github.com/jrbartola/WaveCalendar">Github</a>!</p>
                            <button type="button" class="btn btn-xl" data-dismiss="modal">Back <i class="fa fa-arrow-right"></i></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Medicus Modal -->
    <div class="portfolio-modal modal fade" id="medicusModal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <!-- Project Details Go Here -->
                            <h2>Medicus</h2>
                            <p class="item-intro text-muted">Skin Condition Diagnostic Application</p>
                            <div class="col-md-6">
                                <img class="img-responsive img-centered" src="static/img/medicus_camera.jpg">
                            </div>
                            <div class="col-md-6">
                                <img class="img-responsive img-centered" src="static/img/medicus_diagnosis.jpg">
                            </div>
                            <p>Medicus is yet another mobile application my team and I developed at Hack UMASS! It harnesses image recognition to confidently diagnose various skin ailments given a picture of the condition. An efficient diagnostic tool modeled as an iPhone application has the potential to save doctors time as well as mitigate user anxiety by providing them with an immediate, accurate diagnosis. <strong>See more:</strong> <a href="https://devpost.com/software/medicus">Devpost</a>.</p>
                            <button type="button" class="btn btn-xl" data-dismiss="modal">Back <i class="fa fa-arrow-right"></i></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- jQuery -->
    <script src="static/js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="static/js/bootstrap.min.js"></script>

    <!-- Plugin Easing/Classie JavaScript -->
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
    <script src="static/js/classie.js"></script>
    <script src="static/js/cbpAnimatedHeader.js"></script>

    <!-- Contact Form JavaScript -->
    <script src="static/js/jqBootstrapValidation.js"></script>

    <!-- Waypoints Plugin -->
    <script src="static/js/noframework.waypoints.min.js"></script>
    
    <!-- Slick Plugin -->
    <script src="static/js/slick.min.js"></script>

    <!-- SweetAlert Plugin -->
    <script src="static/js/sweetalert.min.js"></script>

    <!-- Swapsies Plugin -->
    <script src="static/js/jquery-swapsies.js"></script>

    <!-- PieChart JavaScript -->
    <script src="static/js/piechart.js"></script>

    <!-- Custom Waypoints -->
    <script src="static/js/custom_waypoints.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="static/js/bartola.js"></script>

    

</body>
{% endblock %}
