{% extends "layout.html" %}

{% block title %}Jesse Bartola{% endblock %}

{% block body %}
<body id="page-top" class="index">


    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top">Jesse Bartola</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse animsition" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#about">About</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#skills">Skills</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#portfolio">Portfolio</a>
                    </li>
                    
                    <li>
                        <a class="page-scroll" href="#contact">Contact</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <!-- Header -->
    <header>
        <div class="container">
            <div class="intro-text">
                <div class="intro-heading">Hi, I'm Jesse</div>
                <a href="#about" class="page-scroll btn btn-xl">Tell me more!</a>
            </div>
        </div>
    </header>

    <!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">About Me</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4">
                    <div class="about-pic">
                        <h3 class="text-center">See my <a href="/resume">resume</a>!</h3>
                        <img src="static/img/facebookprof.jpg" id="prof_pic" class="img-responsive" alt="">
                    </div>
                </div>
                <div class="col-lg-8">
                    <div class="about-bio">
                        <p id="mybio">My name is Jesse Bartola and I am currently an undergraduate student studying Computer Science at the <a href="http://www.umass.edu/">University of Massachusetts, Amherst</a>. Planning on graduating in 2019, I would like to become a software engineer. My passion for programming began at a young age and my focus has never deviated. I have developed many web and mobile interfaces including instant-messaging chat systems, automated texting services and mobile iPhone applications. 
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- My Skills Section -->
    <section id="skills">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">What am I all about?</h2>
                    <br>
                </div>
            </div>
            <div class="row text-center about-skills">
                <div id="skill1" class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-graduation-cap fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Learning</h4>
                    <p class="text-muted">The importance of an ambition for education, a will to learn, and a drive to tackle new challenges are three pivotal assets that every web developer should carry. Aside from mandatory classes, getting ahead of the curve with self-taught methodologies has tremendously helped me achieve a greater understanding of software and programming. 

                        <!--I can't stress how imporant it is these days to have an ambition for education. I'm always willing to learn new things on my own time and will go out of my way to make sure I am up to date with the latest and most elegant technology.--></p>
                </div>
                <div id="skill2" class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-laptop fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Technology</h4>
                    <p class="text-muted">Technology spans many facets which include calculators, computers and iPhones. An aptitude for all of these devices is an essential part of being succesful when it comes to programming. While always trying to find the most efficient way to tackle projects, I enjoy the challenges that come along with pushing myself past my limits.</p>
                </div>
                <div id="skill3" class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-gears fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Active Engagement</h4>
                    <p class="text-muted">While the process of learning a new language or adjusting previous thought processes may seem tedious, the application of such knowledge is crucial. While a thorough education in computer science is important, hands-on activities solidify your skill-set which is why I am always involved in multiple outside projects of my own.</p>
                </div>
            </div>
        </div>
    </section>

    <!-- Portfolio Grid Section -->
    <section id="portfolio" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Portfolio</h2>
                    <h3 class="section-subheading text-muted">Just a few of my projects</h3>
                </div>
            </div>
            <div class="row slicker">
                <div class="col-md-4 col-sm-6 portfolio-item">
                    <a href="#portfolioModal1" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="static/img/txtadvice_tight.png" class="img-responsive" alt="">
                    </a>
                    <div class="portfolio-caption">
                        <h4>TxtAdvice</h4>
                        <p class="text-muted">Instant Fashion Advice</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 portfolio-item">
                    <a href="#portfolioModal2" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="static/img/basicchat_tight.png" class="img-responsive" alt="">
                    </a>
                    <div class="portfolio-caption">
                        <h4>Basic Chat</h4>
                        <p class="text-muted">Lightweight Messaging</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 portfolio-item">
                    <a href="#portfolioModal3" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="static/img/iphone_bg_scop.jpg" class="img-responsive" id="scopium_pic" alt="">
                    </a>
                    <div class="portfolio-caption">
                        <h4>Scopium</h4>
                        <p class="text-muted">Award-Winning iOS Application</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    

    <!-- SkillSet Section -->
    <section id="skillset" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">The Breakdown</h2>
                    
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <div id="pieChart" class="chart">
                    </div>
                </div>
                <div id="piediv" class="col-sm-8">
                    <p id="pietext" class="large text-muted">An understanding of many different languages has helped me throughout the years in creating projects with different applications and uses. </p>
                    <p id="web" style="display:none;" class="large text-muted">Web development is my most proficient area of programming which includes anything from jQuery to Sass. This type of programming is truly the specific area of computer science that I am most passionate about. </p>
                    <p id="python" style="display:none;" class="large text-muted">My experience with the language of Python has enabled me to create many websites and applications using Flask framework as well as standalone scripts to do my bidding. It is a loosely-typed language with a clear, unobstructed syntax which makes it easy to write robust, scalable application scripts.</p>
                    <p id="java" style="display:none;" class="large text-muted">Java was one of the first programming languages I ever learned. Although not my favorite, my ability to work in Java has enabled me to create a fair share of algorithmic programming and desktop applications.</p>
                    <p id="scala" style="display:none;" class="large text-muted">The introduction to functional programming with Scala has allowed me to explore the in-depth capabilities that programming really has to offer to the world.</p>
                    <p id="swift" style="display:none;" class="large text-muted">iPhone application devlopment is at the forefront of today's society. With this in mind, I have made sure to include this specific type of widely coveted skill in my aresenal. </p>
                </div>
            </div>
            <br/>
        </div>
    </section>
    
    <!-- Contact Section -->
    <section id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Contact Me</h2>
                    <h3 style="color:antiquewhite;" class="section-subheading text-muted">Project inquiries, compliments, and greetings are all accepted!</h3>
                </div>
            </div>
            <div class="row">
                
                <div class="col-lg-12">
                    <form name="sentMessage" id="contactForm" novalidate="" class="">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Your Name *" name="name" id="name" required="" data-validation-required-message="Please enter your name." aria-invalid="false">
                                    <p class="help-block text-danger"></p>
                                </div>
                                <div class="form-group">
                                    <input type="email" class="form-control" placeholder="Your Email *" name="email" id="email" required="" data-validation-required-message="Please enter your email address." aria-invalid="false">
                                    <p class="help-block text-danger"></p>
                                </div>
                            
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <textarea class="form-control" placeholder="Message *" name="message" id="message" required="" data-validation-required-message="Please enter a message." aria-invalid="false"></textarea>
                                    <p class="help-block text-danger"></p>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                            <div class="col-lg-12 text-center">
                                <div id="success">
                                    <div class="alert alert-danger">
                                        <strong>Please fill out all of the fields to send a message!</strong>
                                    </div>
                                </div>
                                <button type="submit" class="btn btn-xl">Send Message</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

        </div>
    </section>

    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <span class="copyright">Copyright &copy; Jesse Bartola 2016</span>
                </div>
                <div class="col-md-4">
                    <ul class="list-inline social-buttons">
                        <li><a href="mailto:jrbartola@gmail.com"><i class="fa fa-envelope"></i></a>
                        </li>
                        <li><a href="http://github.com/jrbartola"><i class="fa fa-github"></i></a>
                        </li>
                        <li><a href="https://www.facebook.com/jbartola"><i class="fa fa-facebook"></i></a>
                        </li>
                        <li><a href="https://www.linkedin.com/in/jesse-bartola-b56bb5bb"><i class="fa fa-linkedin"></i></a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <ul class="list-inline quicklinks">
                        <li>
                        </li>
                        <li>You are visitor # {{ visits }}!
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>

    <!-- Portfolio Modals -->
    <!-- Use the modals below to showcase details about your portfolio projects! -->

    <!-- Portfolio Modal 1 -->
    <div class="portfolio-modal modal fade" id="portfolioModal1" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <!-- Project Details Go Here -->
                            <h2>TxtAdvice (OutFitr)</h2>
                            <p class="item-intro text-muted">Instant fashion advice</p>
                            <img class="img-responsive img-centered" src="static/img/txtadvice.png" alt="">
                            <p>Ever second-guess yourself after putting on an outfit before heading out the door? Many people do which is why as the lead platform developer of TxtAdvice, a small group of collegues and myself have creating an app to allow users to consult a professional stylist no matter what time of day! Send in a question or a picture and you'll have an answer in no time.</p>
                            <p>
                                <!-- <strong>Want to try it out? </strong> Go ahead down to <a href="http://txtadvice.com/">txtadvice.com</a> and enter your phone number in the box!</p> -->
                            <ul class="list-inline">
                                <li>Date: June 2015</li>
                            </ul>
                            <button type="button" class="btn btn-xl" data-dismiss="modal"><i class="fa fa-times"></i> Okay, Cool!</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Portfolio Modal 2 -->
    <div class="portfolio-modal modal fade" id="portfolioModal2" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2>Basic Chat</h2>
                            <p class="item-intro text-muted">Portable chat messaging</p>
                            <img class="img-responsive img-centered" src="static/img/basicchat.png" alt="">
                            <p>Basic Chat is a small project which implements both Node.js and MongoDB. It allows the user to send instant messages to contacts that are also logged in. The site also tracks analytics for each user which can be viewed on their profile. Check out the project on <a href="https://github.com/jrbartola/BasicChat">Github</a>! More features to be announced.</p>
                            <button type="button" class="btn btn-xl" data-dismiss="modal"><i class="fa fa-times"></i> Okay, Cool!</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Portfolio Modal 3 -->
    <div class="portfolio-modal modal fade" id="portfolioModal3" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <!-- Project Details Go Here -->
                            <h2>Scopium</h2>
                            <p class="item-intro text-muted">Multiple-Sclerosis Monitoring Application</p>
                            <div class="col-md-6">
                                <img class="img-responsive img-centered" src="static/img/scopium2.jpg">
                            </div>
                            <div class="col-md-6">
                                <img class="img-responsive img-centered" src="static/img/scopium1.jpg">
                            </div>
                            <p>Scopium is a project that a couple of friends and I created for Hack Umass. It makes use of little mechanical Arduino sensors which transmit data to an iOS Appplication, helping monitor signs of multiple sclerosis for patients in need. Studies show that patients more aware of their symptoms are more comfortable than patients unaware of sympotoms they may be experiencing. <strong>See more:</strong> <a href="http://devpost.com/software/scopium">Devpost</a>.</p>
                            <button type="button" class="btn btn-xl" data-dismiss="modal"><i class="fa fa-times"></i> Okay, Cool!</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- jQuery -->
    <script src="static/js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="static/js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
    <script src="static/js/classie.js"></script>
    <script src="static/js/cbpAnimatedHeader.js"></script>

    <!-- Contact Form JavaScript -->
    <script src="static/js/jqBootstrapValidation.js"></script>
   <!--  // <script src="static/js/contact_me.js"></script> -->

    <!-- Waypoints Plugin -->
    <script src="static/js/noframework.waypoints.min.js"></script>
    
    <!-- Slick Plugin -->
    <script src="static/js/slick.min.js"></script>

    <!-- SweetAlert Plugin -->
    <script src="static/js/sweetalert.min.js"></script>

    <!-- Swapsies Plugin -->
    <script src="static/js/jquery-swapsies.js"></script>

    <!-- PieChart JavaScript -->
    <script src="static/js/piechart.js"></script>

    <!-- Custom Waypoints -->
    <script src="static/js/custom_waypoints.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="static/js/agency.js"></script>

    

</body>
{% endblock %}
